*
!.autotest
!.bash_profile
!.bashrc
!.devilspie/*
!.emacs.d/*
!.eshell/*
!.feeds.opml
!.gconf.yml
!.gitignore
!.gitignore
!.gnus.el
!.irbrc
!.profile
!.screenrc
!.todo
!.xbindkeysrc.scm
!.xsession
!.zile
!bin/*
*elc